.home{
    grid-template-columns: 4.32fr 7.68fr;
    align-items: center;
    /* background-color: var(--first-color); */
    padding: 40px;
    height: 100vh;

}

.home__img{
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 8px hsla(0 , 0%,0%,.3);
    z-index: 1;

}
.home__data{
    /* background-color: var(--first-color); */
    max-width: 600px;
    margin-inline: auto;
    padding-top: 20px;

}
.home__title{
    position: relative;
    font-size: var(--h1-font-size);
    line-height: 1.24;
    padding-left: 70px;
}
.home__title span{
    color: var(--first-color);
}
.home__title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 22%;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--first-color);

}
.home__description{
    line-height: 2.125;
    margin-block: 16px 32px;

}
.color__block{
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: var(--first-color);
    top: -50%;
    left: -83%;
    transform: rotate(-15deg);
    
}
@media screen and (max-width: 768px) {
    .home{
        display: flex;
        flex-direction: column;
    }
    .home__img{
        height: 50%;
        width: 70%;
        position: relative;
        top: 50px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 8px hsla(0 , 0%,0%,.3);
        z-index: 1;
    }
    .color__block{
        z-index: -1;
    }
    .home__title::before{
        all: unset;
    }
    .home__title{
        position: relative;
        margin-top: 25px;
        left: -18px;
        justify-content: center;
        font-size: var(--h2-font-size);
    }
    .home__description{
        margin-top: 20px;
        line-height: 2.125;
        margin-block: 16px 32px;
        font-size: var(--small-font-size);
        background-color: var(--first-color);
        color: var(--text-white);
        border-radius: 20px;
        padding: 20px;
    }

    .color__block{
        all: unset;
    }
    .button{
        position: absolute;
        right: 115px;
    }
    .button:hover{
        color: var(--text-white);
    }
    .button::before{
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--first-color);
        transform: translateX(100%);
        z-index: -1;
        transition: all .3s ease-out;
    }
    .button:hover::before{
        transform: translateX(0);
    }

}